.nav{
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.navLeft, .navRight{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLeft{
    gap: 5px;
}

.navRight{
    gap: 5px;
}

button{
    background-color: rgb(42, 42, 42);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 2em;
}

button:hover{
    color:turquoise;
    border: 1px solid turquoise;
}

button.more{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    height: 2em;
}

button.more:hover{
    background-color: rgb(42, 42, 42);
    color: turquoise;
    border: 1px solid turquoise;
}

.banner{
    background-image: url("../assets/bg.jpg");
    background-position:bottom;
    background-size: cover;
    height: 20em;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.banner hr{
    width: 80%;
}

.pizzaCard{

    border: 1px solid darkgrey;
    border-radius: 5px;
}

.cardTop img{
    width: 100%;
}

.cardTop h4{
    margin-left: 10px;
}

.cardMid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardMid p{
    margin-top: 0;
}

.cardMid{
    font-size: 0.8em;
}

.cardBot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardBot h3{
    margin: 10px;
    margin-bottom: 15px;
}

.btns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;
    gap: 10px;
}

.cardContainer{
    width: 25%;
}

.footer{
    height: 60px;
    background-color: rgb(42, 42, 42);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    margin-block:5%;
}

form{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.cartDisp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.cartContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 20px;
    margin: 30px 0 30px 0;
}

.cartCard{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border: 1px solid darkgrey;
    border-radius: 5px;

}

.cartCard img{
    height: 200px;
    
}

.cartInfo{
    width: 50%;
    padding-left: 30px;
}

.cartButtons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cartBtn{
    width: 30px;
    height: 30px;
    font-size:x-large;
}

.addCart{
    background-color: green;
}

.minCart{
    background-color: red;
}

.pagar{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border: 1px solid darkgrey;
    border-radius: 5px;
    align-items: center;
}

.pagar button{
    width: 100%;
    height: 50px;
    font-size: x-large;
}

.pizzaDisplay{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.displayCard{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.displayCard img{
    height: 162px;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 5px;
}

.description{
    width: 50%;
}

.checkOut{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.notFound{
    width: 300px;
}

.notActive{
    display: none;
}

.notLogged{
    cursor: not-allowed;
    pointer-events: none;
    
}


@media (max-width: 870px) {

    .cardContainer{
        width: 60%;
    }

    .cartCard{
        flex-direction: column;
        width: 70%;
    }

    .cartCard img{
        height: auto;
        width: 100%;
    }

    .cartInfo{
        display: flex;
        width: 100%;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .cartInfo h5{
        margin: 10px;
    }

    .displayCard{
        flex-direction: column;
    }

    .displayCard img{
        width: 100%;
        height: auto;
    }
    .description{
        width: 100%;
    }

    .ingredients{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .checkOut{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}